<!-- extend menubase layout -->
{% extends "menubase.html" %}
 
{% block menucontent %}
  <h2>Add A Menu Section</h2>

  {% for message in form.sectionName.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
   
  <form action="{{ url_for('addMenuSection') }}" method=post>

    <p>{{ form.sectionName.label }}
    {{ form.sectionName }}</p>

    <p>{{ form.visibility.label }}
    {{form.visibility}}</p>

    <p>{{form.s_s_o.label}}
    {{form.s_s_o}}</p>
     
    <p>{{ form.submit }}</p>

  </form>
     
{% endblock %}
