<html>
  <head>
    <link rel="stylsheet" type="test/css" href="style.css"/>
    {% if title %}
    <title>{{ title }} - Bento Server</title>
    {% else %}
    <title>Bento Server</title>
    {% endif %}
  </head>
  <body>


      <div id ="header">
        <div id = "headcontent">
  	  <div id="title">
            <h1>Bento Server</h1>
          </div>
          <div id ="topmenu">
            <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            {% if g.user.is_authenticated() %}
            <li><a href="{{ url_for('profile') }}">Profile</a></li>
            <li><a href="{{ url_for('signout') }}">Sign Out</a></li>
            {% else %}
            <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
            <li><a href="{{ url_for('login') }}">Sign In</a></li>
            {% endif %}
            </ul>
          </div>
        </div>
      </div>

    <div id ="container">
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <div id ="content">
      {% block content %}
      {% endblock %}
    </div>
    <div>
  </body>

</html>
