<!-- extend base layout -->
{% extends "menubase.html" %}
 
{% block menucontent %}
  <h2>Edit A Menu Item</h2>
 
  {% for message in form.item_id.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  {% for message in form.item_name.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  
  {% for message in form.price.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

   
  <form action="{{ url_for('editMenuItem',data=item.id) }}" method=post>
   
    <h4>Item Summary</h4>



    <br>
    <h4>Edit Item Properties</h4>
    <p>{{form.item_id.label}}
    {{form.item_id}}</p>

    <p>{{ form.item_name.label }}
    {{ form.item_name }}</p>
    
    <p>{{ form.price.label }}
    {{ form.price }}</p>
    
    <p>{{ form.short_description.label }}<br>
    {{ form.short_description }}</p>
    
    <p>{{ form.long_description.label }}<br>
    {{ form.long_description }}</p>
    
    <p>{{ form.availability.label }}
    {{ form.availability }}</p>
   
    <p>{{ form.ingrediants.label }}<br>
    {{ form.ingrediants }}</p>
   
    <p>{{ form.allergens.label }}<br>
    {{ form.allergens }}</p>
    
    <p>{{ form.ppItemSubmit }}</p>

    <br>
    <h4>Remove Item</h4>
    {{form.remove}}<br>
    An item cannot be recovered after deleting.
    You may wish to change the availability instead</p>
  </form>
     
{% endblock %}
