<html>
  <head>
    {% if title %}
    <title>{{ title }} - Bento Server</title>
    {% else %}
    <title>Bento Server</title>
    {% endif %}
  </head>
  <body>

    <header>
      <div>
        <h1>Bento Server</h1>
        <nav>
          <ul>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          {% if 'employee_id' in session %}
          <li><a href="{{ url_for('profile') }}">Profile</a></li>
          <li><a href="{{ url_for('signout') }}">Sign Out</a></li>
          {% else %}
          <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
          <li><a href="{{ url_for('signin') }}">Sign In</a></li>
           {% endif %}
          </ul>
        </nav>
      </div>
    </header>

    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <div>
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
