{% extends "base.html" %}
 
{% block content %}
  <h1>Edit Profile Informatin</h1>

  {% for message in form.email.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  {% for message in form.mobile_number.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
   
  {% for message in form.password.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
   
  <form action="{{ url_for('editProfile') }}" method=post>
    <p>{{ form.hidden_tag() }}</p>
     
    <p>Current {{ form.email.label }} is {{user.email}}
    {{ form.email }}</p>

    <p>Current {{ form.mobile_number.label }} is {{user.mobile_number}}
    {{form.mobile_number}}</p>
 
    <p>Please Confirm your {{form.password.labl}}
    {{form.pasword}}</p>
     
    <p>{{ form.submit }}</p>    
    
  </form>
     
{% endblock %}
